<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Declare plugin on global scope to soft refresh from every scope -->
    <type name="Magento\Framework\GraphQlSchemaStitching\Common\Reader">
        <plugin name="HappyHorizon_PersistentGraphQlSchema_Plugin_Graphql_Magento_Framework_GraphQlSchemaStitching_Common_Reader"
                type="HappyHorizon\PersistentGraphQlSchema\Plugin\Graphql\Magento\Framework\GraphQlSchemaStitching\Common\Reader"
                sortOrder="0"/>
    </type>
    
    <!-- GraphQL Resolvers -->
    <type name="Magento\Framework\GraphQl\Query\Resolver\Query">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="getMegaMenu" xsi:type="string">HappyHorizon\PersistentGraphQlSchema\Model\Resolver\MegaMenu</item>
                <item name="getTopbar" xsi:type="string">HappyHorizon\PersistentGraphQlSchema\Model\Resolver\Topbar</item>
                <item name="getUsps" xsi:type="string">HappyHorizon\PersistentGraphQlSchema\Model\Resolver\Usps</item>
                <item name="getFooter" xsi:type="string">HappyHorizon\PersistentGraphQlSchema\Model\Resolver\Footer</item>
            </argument>
        </arguments>
    </type>
    
    <type name="Magento\Framework\GraphQl\Query\Resolver\Type">
        <arguments>
            <argument name="resolvers" xsi:type="array">
                <item name="ContentBlockDynamic" xsi:type="array">
                    <item name="menu_items" xsi:type="string">HappyHorizon\PersistentGraphQlSchema\Model\Resolver\MenuItems</item>
                    <item name="usp_items" xsi:type="string">HappyHorizon\PersistentGraphQlSchema\Model\Resolver\UspItems</item>
                </item>
                <item name="MenuItems" xsi:type="string">HappyHorizon\PersistentGraphQlSchema\Model\Resolver\MenuItems</item>
                <item name="UspItems" xsi:type="string">HappyHorizon\PersistentGraphQlSchema\Model\Resolver\UspItems</item>
            </argument>
        </arguments>
    </type>
</config>