<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- GraphQL resolvers are automatically discovered by Magento when extending interfaces in schema.graphqls -->
    <!-- The resolvers implement ResolverInterface and are registered via PSR-4 autoloading -->
</config>
